div
  style(type="text/css"): include:stylus index.styl
  script(type="@plotdb/block"): include:lsc index.ls
  div(plug="body")
    .m-edit.has-tips.manual(ld="error-root")
      .input-group
        input.form-control.flex-grow-1(ld="input",autocomplete="off",autocapitalize="off")
        .input-group-append(ld="dropdown",style="flex:0 0 auto")
          .btn.btn-outline-secondary.dropdown-toggle(ld="currency",data-toggle="dropdown") ...
          .dropdown-menu.dropdown-menu-right(style="width:fit-content")
            .dropdown-item(ld-each="available-currency")
      .hover-tip.tip-sm: div(ld-each="error")
    .m-view(ld="content")
